* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(129, 160, 199) 0%,
    rgb(255, 255, 255) 100%
  );
  text-align: center;
  color: white;
  background-color: black;
  font-family: sans-serif;
}
.wish-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #ece7e7;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: rgb(128, 118, 187);
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.wish-form {
  margin-bottom: 32px;
}

.wish-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #6e5f8b;
  outline: none;
  width: 320px;
  background: transparent;
  color: rgb(23, 3, 90);
}
.link-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #6e5f8b;
  outline: none;
  width: 320px;
  height: 10px;
  background: transparent;
  color: rgb(6, 60, 122);
}

.wish-input::placeholder {
  color: #9b9cb4;
}

.wish-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255) 0%,
    rgb(6, 2, 82) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.wish-input.edit {
  border: 2px solid #3e0bb4;
}

.wish-button.edit {
  background: linear-gradient(
    90deg,
    rgb(57, 4, 204) 0%,
    rgb(80, 207, 30) 100%
  );
  padding: 16px 22px;
}

.wish-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.wish-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(166, 173, 194) 0%,
    rgb(243, 232, 243) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.wish-row:nth-child(4n + 4) {
  background: linear-gradient(
    90deg,
    rgb(121, 151, 21) 100%
    rgb(241, 0, 0) 0%,

  );
}
/* 
.wish-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgb(71, 21, 151) 100%
    rgb(241, 0, 189) 0%,
  );
}

.wish-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
} */

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}